@import url('https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap');
body{
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Arima Madurai', cursive;
}

.grid-container
{
    width: 100vw;
    height: auto;
}

.container{
    display: grid;
    margin: 4rem 4rem;
    width: auto;
    max-height: auto;
    border: 1px solid #4f99ca27;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #9aceff;
    max-width: auto;
    background-color: rgba(64, 224, 208, 0.219);
}

.hd1{
    position: relative;
    text-align: center;
    font-size: .8rem;
    margin-top: 3px;
    padding-bottom: 10px;
}



.input-boxes{
    position: relative;
    padding: 2rem 2rem;
    margin: 1rem 1rem;
    /*width: 380px;
    height: 35px;*/
    text-align: center;
    box-sizing: border-box;
    border-color: violet;
}


input[type="email"]{
    width: 380px;
    height: 35px;
    border-radius: 10px;
    padding: 3px 3px 3px 12px;
    margin-bottom: 1rem;
    background-color: rgba(152, 251, 152, 0.555);
    border: none;
    color: #5f6caf;
    font-family: 'Arima Madurai', cursive;
}

input[type="email"]:hover{
    box-shadow: 5px 5px 15px #9be3de;
    transform: scale(1.1,1.1);
    border-radius: 10px; 
    background-color: powderblue;   

}


input[type=email]:focus {
    border: 2px inset #4a69bb;
}

input[type="password"]{
    width: 380px;
    height: 35px;
    border-radius: 10px;
    padding: 3px 3px 3px 12px;
    margin-bottom: 1rem;
    background-color: rgba(152, 251, 152, 0.555);
    border: none;
    color: #5f6caf;
    font-family: 'Arima Madurai', cursive;
}

input[type="password"]:hover{
    box-shadow: 5px 5px 15px #9be3de;
    transform: scale(1.1,1.1);
    border-radius: 10px; 
    background-color: powderblue;   
}

input[type=password]:focus {
    border: 2px inset #4a69bb;
}

    .button {
        border: none;
        color: white;
        padding: 5px 12px;
        width: auto;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 20px;
        font-family: 'Arima Madurai', cursive;
        border: outset;
        border-color: rgb(0, 156, 156);
      }
      
      .button {
        background-color: #12cad6;
        color: black;     
        box-shadow: 5px 5px 15px #9be3de;
      }
      
      .button:hover {
        opacity: .8;
        color: white;
        
      }
